.about {
   padding: 5%;
   height: calc(100vh - 8vh);
}

.about h1 {
   font-size: 2.5rem;
   font-weight: 600;
   color: var(--h1-title-section);
   margin-top: 20px;
}

.about p {
   font-size: 1rem;
   line-height: 1.8rem;
   text-align: justify;
}

/* ======== Mobile ======== */

@media (max-width: 768px) {
   .about {
      height: auto;
      padding-bottom: 30px;
   }
}