.about {
   padding: 5%;
   height: calc(100% - 8%);
}

.about h1 {
   font-size: 2.5rem;
   font-weight: 600;
   color: var(--h1-title-section);
}

.about p {
   font-size: 1rem;
   line-height: 1.8rem;
   text-align: justify;
}

@media (min-width: 769px) {
   .about {
      margin-top: 100px;
      }
      }
      
      @media (min-width: 992px) {
         .about {
      margin-top: 0px;
      max-width: 1000px;
      margin: 0 auto;
      height: inherit;
   }
}