.skills {
   padding: 5%;
   min-height: 90vh;
}

.skills h1 {
   font-size: 2.5rem;
   font-weight: 600;
   color: var(--purple);
}

.icon:nth-child(1) {
   color: #e85925;
}

.icon:nth-child(2) {
   color: #254BDD;
}

.icon:nth-child(3) {
   color: #efd81d;
}

.icon:nth-child(4) {
   color: #5ed3f3;
}

.icon:nth-child(5) {
   color: #8713f4;
}

.icon:nth-child(6) {
   color: #E84D31;
}

.icon:nth-child(7) {
   color: #fff;
}

.fa {
   font-size: 3.5rem;
}