.nav {
   background-color: aliceblue;
   height: 5vh;
   padding: 10px 25%;

   position: fixed;
   right: 0;
   left: 0;

   z-index: 999;
}

.nav a {
   text-decoration: none;
   color: black !important;
   margin-right: 40px;
   border-radius: 4px;
   transition: all .3s ease-in-out;
   padding: 5px;
   position: relative;
   cursor: pointer;
}

.nav a::after {
      content: '';
      width: 0;
      height: 3px;
      background-color: var(--dark-magenta);
      position: absolute;
      bottom: 0;
      left: 0;
      transition: all .3s ease-in-out;
   }

   .nav a:hover::after {
      width: 100%;
   }

   @media (max-width: 992px) {
      .nav a {
         margin-right: 20px;
      }
   }