.nav {
   background-color: aliceblue;
   height: 10%;
   padding: 10px 20%;
}

.nav a {
   text-decoration: none;
   color: black;
   margin-right: 40px;
   border-radius: 4px;
   transition: all .3s ease-in-out;
   padding: 5px;
}

.nav a:hover {
   color: #fff;
   background-color: var(--dark-magenta);
}

.nav a.active {
   color: #fff;
   background-color: var(--dark-magenta);
}