.contatos {
   padding: 5%;
}

.contatos h1 {
   font-size: 2.5rem;
   font-weight: 600;
   color: var(--h1-title-section);
   margin-top: 20px;
}

.box_contatos {
   min-height: 70vh;
}

.contato {
   width: 200px;
   border-radius: 20px;
   padding: 5px;
   margin-bottom: 20px;
   text-align: center;
   text-decoration: none;
   transition: all .2s ease-in-out;
}

.whatsapp .icon,
.linkedin .icon,
.curriculo .icon,
.github .icon {
   margin-right: 5px;
   font-size: 1.5rem;
}

.whatsapp .nome,
.linkedin .nome,
.curriculo .nome,
.github .nome {
   font-size: 1.5rem;
}

.contato.whatsapp {
   background-color: var(--whatsapp);
}

.contato.whatsapp:hover {
   transform: scale(1.1);
   box-shadow: var(--box-shadow-contato);
}

.whatsapp .icon,
.whatsapp .nome {
   color: var(--back-ground);
   transition: all .2s ease-in-out;
}

.contato.linkedin {
   background-color: var(--linkedin);
}

.contato.linkedin:hover {
   transform: scale(1.1);
   box-shadow: var(--box-shadow-contato);

}

.linkedin .icon,
.linkedin .nome {
   color: var(--back-ground);
   transition: all .2s ease-in-out;
}

.contato.github {
   background-color: var(--git-hub);
}

.contato.github:hover {
   transform: scale(1.1);
   box-shadow: var(--box-shadow-contato);

}

.github .icon,
.github .nome {
   color: var(--back-ground);
   transition: all .2s ease-in-out;
}

.contato.curriculo {
   border: 2px solid var(--border-contato);
   cursor: pointer;
}

.contato.curriculo:hover {
   transform: scale(1.1);
   box-shadow: var(--box-shadow-contato);

}

.curriculo {
   background-color: var(--back-ground);
}

.curriculo .icon,
.curriculo .nome {
   color: var(--border-contato);
   transition: all .2s ease-in-out;
}

.curriculo_dados {
   background-color: #fff;
   color: #000;
   padding: 5%;
   margin-bottom: 80px;
}

.curriculo_dados .nome {
   text-align: center;
   color: #000;
   margin-bottom: 50px;
}

.curriculo_dados section {
   margin-bottom: 30px;
}

@media (min-width: 992px) {
   .contatos {
      max-width: 1000px;
      margin: 0 auto;
   }

   .box_contatos {
      min-height: 60vh;
   }

   .whatsapp:hover .icon,
   .whatsapp:hover .nome {
      color: #17803f;
   }

   .linkedin:hover .icon,
   .linkedin:hover .nome {
      color: #0a5096;
   }

   .github:hover .icon,
   .github:hover .nome {
      color: #9fa4a8;
   }

   .curriculo:hover .icon,
   .curriculo:hover .nome {
      color: #818181;
   }
}