.home {
   height: calc(100% - 8%);
   padding: 5%;
}

.img_home {
   width: 100%;
}

.img {
   width: 90%;
}

.text {
   padding-bottom: 60px;
}

.text h2 {
   font-size: 2.5rem;
}

.text p {
   font-size: 1rem;
   line-height: 1.8rem;
   text-align: justify;
}

/* Tablet */
@media (min-width: 769px) {

   .home {
      height: 100vh;
   }

   .img_home {
      margin-top: 20px;
   }

   .img {
      width: 50%;
   }
}

/* Desktop */
@media (min-width: 992px) {

   .home {
      height: calc(100% - 8%);
   }

   .img_home {
      margin-top: 0;
   }
}