.modal {
   height: 100vh;
   width: 100vw;
   background-color: rgba(0, 0, 0, .4);
   backdrop-filter: blur(4px);
   z-index: 999;
}

.carousel {
   display: flex;
   align-items: center;
   gap: 10px;
   justify-content: center;
   padding: 10px;
}


.carousel button {
   background-color: var(--btn-projects);
   color: var(--btn-projects-text);
   border: none;
   border-radius: 50%;
   width: 30px;
   height: 30px;
   font-size: 1.2rem;
   cursor: pointer;
   box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
   transition: all .3s ease-in-out;
}

.card_img {
   width: 90vw;
   height: 70vh;
   aspect-ratio: 16 / 9;
   overflow: hidden;
   border-radius: 6px 6px 0 0;
}

.card_img img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}
/* ==================== Mobile ============================== */
@media (max-width: 576px) {

   .card_img {
      width: 70vw;
      height: 50vh;
   }

   .card_img img {
       object-fit: contain;
   }
}