.conteudo {
   max-width: 50vw;
}

.skills {
   padding: 0 5%;
   min-height: 90vh;
}

.skills h1 {
   font-size: 2.5rem;
   font-weight: 600;
   color: var(--purple);
}

.list_skills ul {
   list-style-type: square;
}

.list_skills > ul li::marker{
   color: var(--purple);
}

.icon:nth-child(1) {
   color: #e85925;
}

.icon:nth-child(2) {
   color: #254BDD;
}

.icon:nth-child(3) {
   color: #efd81d;
}

.icon:nth-child(4) {
   color: #5ed3f3;
}

.icon:nth-child(5) {
   color: #8713f4;
}

.icon:nth-child(6) {
   color: #E84D31;
}

.icon:nth-child(7) {
   color: #fff;
}

.fa {
   font-size: 3.5rem;
}

.svg {
   width: 60px;
}

.svg img {
   background-color: black;
}

@media (max-width: 1100px) {
   .conteudo {
      max-width: 80vw;
      margin: 0 auto;
   }
}

/* ====== Faixa animada ====== */

.marquee {
   width: 100%;
   overflow: hidden;
   position: relative;
   white-space: nowrap;
   margin-top: 2rem;
}

.track {
   display: flex;
   width: max-content;
   animation: scroll 15s linear infinite;
}

.track:hover {
   animation-play-state: paused;
}

.icons {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 4rem;
}

@keyframes scroll {
   0% {
      transform: translateX(0);
   }
   100% {
      transform: translateX(-50%);
   }
}
