.contatos {
   padding: 5%;
}

.contatos h1 {
   font-size: 2.5rem;
   font-weight: 600;
   color: var(--purple);
}

.box_contatos {
   min-height: 70vh;
}

.contato {
   width: 200px;
   border: 2px solid var(--dark-orchid);
   border-radius: 20px;
   padding: 5px;
   margin-bottom: 20px;
   box-shadow: 2px 2px 4px var(--dark-orchid);
   text-align: center;
   text-decoration: none;
}

.whatsapp .icon,
.linkedin .icon,
.curriculo .icon,
.github .icon {
   margin-right: 5px;
   font-size: 1.5rem;
}

.whatsapp .nome,
.linkedin .nome,
.curriculo .nome,
.github .nome {
   font-size: 1.5rem;
}

.whatsapp .icon,
.whatsapp .nome {
   color: #24cc63;
   transition: all .2s ease-in-out;
}

.linkedin .icon,
.linkedin .nome {
   color: #0a63bc;
   transition: all .2s ease-in-out;
}

.github .icon,
.github .nome {
   color: #f0f8ff;
   transition: all .2s ease-in-out;
}

.curriculo .icon,
.curriculo .nome {
   color: darkgrey;
   transition: all .2s ease-in-out;
}

@media (min-width: 992px) {
   .contatos {
      max-width: 1000px;
      margin: 0 auto;
   }

   .box_contatos {
      min-height: 60vh;
   }

   .whatsapp:hover .icon,
   .whatsapp:hover .nome {
      color: #17803f;
   }

   .linkedin:hover .icon,
   .linkedin:hover .nome {
      color: #0a5096;
   }

   .github:hover .icon,
   .github:hover .nome {
      color: #9fa4a8;
   }

   .curriculo:hover .icon,
   .curriculo:hover .nome {
      color: #818181;
   }
}