.hero {
   height: calc(100% - 8%);
   padding: 5%;
}

.img_hero {
   width: 100%;
}

.img {
   width: 70%;
   height: 200px;

   background: url('../../assets/images/perfil.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}

.text h2 {
   font-size: 2.5rem;
}

.text p {
   font-size: .8rem;
   text-align: justify;
}