.nav_mobile {
   background-color: var(--background-nav-mobile);
   height: 10vh;
   border-radius: 40px 40px 0 0;
   border-bottom: 2px solid gray;
   position: fixed;
   bottom: 0;
   width: 100%;
}

.nav_mobile a {
   text-decoration: none;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.icons {
   text-decoration: none;
   color: var(--icons-mobile);
   font-size: 1.5rem;
}

.name {
   color: var(--name-icon-mobile);
}