:root {
    /* global */
   --back-ground: #000;
   /* textos */
   --h1-title-section: #800080;
   --span: #9370DB;
   --h1-title-projects: #9932CC;
   --color-text: #fff;
   /* elements */
   --btn-projects: #9932CC;
   --btn-projects-hover: #7a017a;
   --border-contato: #9932CC;
   --marker-li: #800080;
   --hover-nav-desktop: #8B008B;
   --color-link-desktop: #000000;
   --background-nav-desktop: #f0f8ff;

   --background-nav-mobile: #e2e1e1;
   --icons-mobile: #000;
   --name-icon-mobile: #000;

   /* brands */
   --html: #e85925;
   --css: #254BDD;
   --js: #efd81d;
   --react: #5ed3f3;
   --bootstrap: #8713f4;
   --git: #E84D31;
   --git-hub: #fff;
   --whatsapp: #24cc63;
   --linkedin: #0077b5;
}

:root[data-theme="light"] {
   /* global */
   --back-ground: #fff;
   /* textos */
   --h1-title-section: #800080;
   --span: #9370DB;
   --h1-title-projects: #9932CC;
   --color-text: #000;
   /* elements */
   --btn-projects: #9932CC;
   --btn-projects-text: #fff;
   --border-contato: mediumpurple;
   --marker-li: #800080;
   --hover-nav-desktop: #8B008B;
   --color-link-desktop: #f0f8ff;
   --background-nav-desktop: #000;

   --background-nav-mobile: #000;
   --icons-mobile: #e2e1e1;
   --name-icon-mobile: #e2e1e1;

   /* brands */
   --git-hub: #000;

}



* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

html {
   font-size: 16px;
}

html, body {
   height: 100%;
   min-height: 100%;
}

#root {
   background-color: var(--back-ground);
   color: var(--color-text);
   min-height: 100%;
}

section {
   scroll-margin-top: 5vh;
}

.span {
   color: var(--span);
}