:root[data-theme="light"] {
   /* global */
   --back-ground: #000;
   /* textos */
   --h1-title-section: #800080;
   --span: #9370DB;
   --h1-title-projects: #9932CC;
   --color-text: #fff;
   /* elements */
   --btn-projects: #9932CC;
   --border-contato: #9932CC;
   --marker-li: #800080;
   --hover-nav-desktop: #8B008B;
   --color-link-desktop: #f0f8ff;
   --background-nav-desktop: #000;

   --background-nav-mobile: #000;
   --icons-mobile: #e2e1e1;
}